<div class="table-wrap quote-table">
  <h4>Quote</h4>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>  
        <th></th>      
        <th>Quote ID</th>
        <th>Requestor</th>
        <th>Channel</th>
        <th>Type of Transaction </th>        
        <th>Status</th>
        <th>Quotation Expiration Date</th>
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor="let data of basicTable.data">
        <td></td>
        <td>{{ data.PO }}</td>
        <td>{{ data.SO }}</td>
        <td>{{ data.channel }}</td>
        <td>{{ data.dateRequiredAt}}</td>
        <td>
          <button value="data.status" class="btn rejected" (click)="onCheckStatus(data)" *ngIf="data.status === 'reject'">Reject</button>
          <button value="data.status" class="btn pending" (click)="onCheckStatus(data)" *ngIf="data.status === 'pending'">Pending</button>
          <button value="data.status" class="btn shipped" (click)="onCheckStatus(data)" *ngIf="data.status === 'approved'">Approved</button>
          <button value="data.status" class="btn sendback" (click)="onCheckStatus(data)" *ngIf="data.status === 'sendBack'">Send Back</button>
        </td>
        <td>{{ data.site }}</td>                                
      </tr>
    </tbody>
  </nz-table>
</div>