.orderType{
    margin: 0 auto;
    float: right;
    padding-bottom: 10px;
    label{
        font-size: 13px;
    }
    nz-select{
        border:1px solid #aeaeae;
    }
}
.steper{
    clear:both;
}