<header>
    <div>
        <span (click)="navigation('used-engine')" class="ge-logo navbar-brand"></span> | <span class="tag">AMO</span>
    </div>
    <div class="right-section">
        <!-- <nz-select ngModel="Vinod">
            <nz-option nzValue="Vinod" nzLabel="Vinod Rawat"></nz-option>
            <nz-option nzValue="Logout" nzLabel="Logout"></nz-option>
        </nz-select> -->
        <div class="dropdown show admin-dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinod Rawat
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Logout</a>
            </div>
         </div>
         <div class="admin-icon">
            <i (click)="navigation('admin')"class="bi bi-gear-fill"></i>
         </div>
    </div>
</header>