<div class="table-header">
  <button class="btn btn-primary" data-toggle="modal" data-target="#commonModal" value="Add Column" (click)="addColumn($event)">Add Column</button>
  <button class="btn btn-primary" (click)="exportexcel('table-excel-export', 'ExcelSheet.xlsx')">Export to
    Excel</button>
</div>
<div class="table-wrap">
  <h4>Data Management</h4>
  <nz-table id="table-excel-export" #editRowTable nzBordered [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let item of listColoum">{{item.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data; let i=index" class="editable-row">
        <td>{{data.id}}</td>
        <td>
          <!-- <div *ngIf="checkForEdit('name')">
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.name }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit()" />
          </div> -->
          <div>
            {{data.name}}
          </div>
        </td>
        <td>
          <!-- <div *ngIf="checkForEdit('age')">
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.age }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.age" (blur)="stopEdit()" />
          </div> -->
          <div>
            {{data.age}}
          </div>
        </td>

        <td>
          <!-- <div>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.address }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.address" (blur)="stopEdit()" />
          </div> -->
          <div>
            {{data.address}}
          </div>
        </td>
        <td>
          {{data.other}}  
          <button (click)='addRow(i)' class="btn btn-primery" *ngIf="i === editRowTable.data.length-1">Add</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<app-modal [modalInputData]="modalInputData"></app-modal>