<!-- Modal -->
<div class="modal fade default-modal" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="commonModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commonModalLabel">{{modalInputData?.title | titlecase}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table" *ngIf="modalInputData?.type == 'quotationCalculation'">
          <thead>
            <tr>
              <th scope="col">#PO</th>
              <th scope="col">SO</th>
              <th scope="col">Channel</th>
              <th scope="col">Modal Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
              <td>XXXXXX</td>
            </tr>
          </tbody>
        </table>

        <div class="form-continer" *ngIf="modalInputData?.type == 'sendback'">
          <div class="form-group">
            <label for="">Comment</label>
            <textarea [(ngModel)]="providerComment" class="form-control" placeholder="Enter Comment"></textarea>
          </div>
        </div>

        <div class="form-continer add-column-wrap" *ngIf="modalInputData?.type == 'addColumn'">
          <div class="form-group">
            <label for="">Select the option to make updated in the column</label>
            <div class="form-check">
              <input class="form-check-input" id="Add Columns" (change)="checkAction($event)" type="radio" name="options"  value="Add Columns">
              <label class="form-check-label" for="Add Columns">
                Add Columns
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="Modify Columns" (change)="checkAction($event)" type="radio" name="options"  value="Modify Columns">
              <label class="form-check-label" for="Modify Columns">
                Modify Columns
              </label>
            </div>
          </div>

          <div class="existing-column-wrap" *ngIf="isExisting">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter New Column Name">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" value="add"> Add </button>
              <button type="button" class="btn btn-primary" #closeModal data-dismiss="modal"> Close </button>
            </div>

            <div class="existing-columns">
              <strong>Existing Columns</strong>
              <ul>
                <li>XXXXXX</li>
                <li>XXXXXX</li>
                <li>XXXXXX</li>
                <li>XXXXXX</li>
                <li>XXXXXX</li>
                <li>XXXXXX</li>
              </ul>
            </div>
          </div>

          <div class="modify-column-wrap" *ngIf="isModify">
            <div class="existing-columns">
              <strong>Existing Columns</strong>
              <ul>
                <li> <input type="checkbox" value=""> XXXXXX</li>
                <li> <input type="checkbox" value=""> XXXXXX</li>
                <li> <input type="checkbox" value=""> XXXXXX</li>
                <li> <input type="checkbox" value=""> XXXXXX</li>
                <li> <input type="checkbox" value=""> XXXXXX</li>
                <li> <input type="checkbox" value=""> XXXXXX</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" value="add"> Add </button>
              <button type="button" class="btn btn-primary" #closeModal data-dismiss="modal"> Close </button>
            </div>
          </div>
        </div>
        
        <div class="modal-footer" *ngIf="modalInputData?.type === 'sentback'">
          <button type="button" class="btn btn-primary" value="send" (click)="submit($event)">Save </button>
          <button type="button" class="btn btn-primary" #closeModal data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>