
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	&:hover{
		text-decoration: none;
	}
}
body {
	background: #fcfbfd;
}
.cl-error{
	color: #ae212a;
}
.cl-success{
	color: #03b97a;
}
.bi-trash-fill{
	color: #ec6f6f;
}
.bi-plus-circle-fill{
	color: #2266b7;
}
.heading-h4{
	font-size: 16px;
    color: #366ca0;
}
.form-control:focus {
    color: #495057;
    background-color: none;
    border-color: inherit;
    outline: 0; 
    box-shadow: none;
}
.spinner-border{	
	border: 0.25em solid #3682b4;
    border-right-color: transparent;
}
select.default{
	border: 1px solid #99989d;
	font-size: 13px;
	padding: 2px 10px;
	height: 30px;
	border-radius: 5px;
	&:focus-visible{
		border: 1px solid #99989d;
	}
}
nz-select {
	width: 150px;
}
label{
	&.default{
		margin-right: 10px;
		font-size: 13px;
	}
}
.global-loader{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
    background: #fff;    
    border: 1px solid #009a91;
    padding: 5px;
    border-radius: 100%;
}
.table-header{
	display: flex;
    justify-content: flex-end;
    margin-right: 10px;
	button{
		+ button{
			margin-left: 15px;
		}
	}
}
.table-wrap{
	border: 1px solid #99989a;
	margin: 10px;
	h4{
		margin: 10px;
		font-size: 14px;
	}
	.ant-table-thead>tr>th{
		background: #e2e8ed;
		color: #2266b7;
		text-transform: uppercase;		
		font-weight: 600;
	}
	.ant-table tfoot>tr>td, .ant-table tfoot>tr>th, .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
		padding: 8px;
		font-size: 12px;
	}
	.ant-table-tbody>tr>td {
		border-bottom: 1px solid #c8c8c8;		
	}
	.btn{
		border-radius: 0;
		width: 106px;
		height: auto;
		color: #fff;
		font-size: 12px;
		padding: 7px;
		background: #1f6da8;
		&.sendback{
			background: #989898;
		}
		&.billed{
			background: #1f6da8;
		}
		&.pending{
			background: #fa7c0b;
		}
		&.shipped{
			background: #01ba77;
		}
		&.rejected{
			background: #E35959;
		}
	}
	/* edit table*/
	.editable-cell {
        position: relative;
        padding: 5px 12px;
        cursor: pointer;
		+ {
			input{
				border: 1px solid #999;
				width: 100%;
				border-radius: 4px;
				padding: 3px 10px;
			}
		}
      }

	.editable-row:hover .editable-cell {
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		padding: 4px 11px;
	}
	i{
		cursor: pointer;
		+i {
			margin-left: 10px;	
		}
	}
}
.form-continer{
	max-height: 400px;
	overflow-y: auto;
    overflow-x: hidden;
	.dark-bg{
		background: #fff;
		padding: 10px;
		margin-top: 10px;
		.form-control{
			background: #fff;
			border-radius: 0;
			height: 35px;
			border: 1px solid #c2c4c7;
			font-size: 12px;
			&:focus{
				outline: 0 none;
				box-shadow: none;
			}
			&:disabled, &.ant-picker.ant-picker-disabled{
				background: #f9f9f9;
			}
		}
		textarea{
			&.form-control{
				height: auto;
			}
		}
		label{
			color: #9198a0;
			text-transform: uppercase;
			font-size: 11px;
		}
	}
	.button-set{
		margin-top: 10px;
		button{
			&:disabled{
				cursor: not-allowed;
			}
			+ button{
				margin-left: 10px;
			}
		}
		//  btn.btn-success;
	}
}

.btn{		
	height: 35px;
    line-height: 1;
    padding: 5px 20px;
    font-size: 14px;	
	&.btn-primary{
		background: #2266b7;
		&.btn-wt-icon{
			padding: 5px 10px;
			i{
				margin-right: 5px;
			}
		}
	}
	&.btn-success{
		background: #3bab21;
	}
	&.btn-danger{		
		background: #ae212a;
	}
}

/* Modal start */
.default-modal{
	.form-group{
		margin-bottom: 0;
		font-size: 12px;
		label{
			text-transform: uppercase;;
		}
		textarea{
			font-size: 12px;
			min-height: 100px;
			border-radius: 0;
		}
	}
	.modal-header{
		background: #252424;
		color: #fff;
		padding: 5px 15px;
		border-radius: 0;
		.close{
			color: #fff;
			opacity: 1;
			line-height: 1;
			font-weight: 400;
		}
	}
	.modal-title{
		color: #fff;
		font-weight: 400;
		font-size: 14px;
	}	
	.modal-footer{
		border: none;
		justify-content: flex-start;
		padding-left: 0;
		padding-bottom:0;
		.btn{
			margin: 0;
			+.btn{
				margin-left: 10px;
			}
		}
	}
	.add-column-wrap{
		min-height: 100px;
		input[type=text]{
			width: 300px;
			border: 1px solid #999;
			border-radius: 0;
			height: 30px;
			font-size: 12px;
		}	
		.existing-column-wrap {
			margin-top: 10px;
		}
		.form-group{
			margin-bottom: 10px;
			font-size: 14px;
			> label{
				margin-bottom:15px;
			}
		}
		.form-check{
			margin-bottom: 5px;
		}
		label{
			text-transform: capitalize;
		}
		.existing-columns{
			margin-top: 10px;
			strong{
				margin-bottom: 10px;
				display: block;
				font-size: 14px;
				color: #616161;
				font-weight: 600;
			}
			ul {
				li{
					color: #616161;
					font-size: 12px;
					display: flex;
					align-items: center;
					input{
						margin-right: 10px;
					}
					+li{
						margin-top: 10px;
					}
				}
			}
		}
	}
}
/* Modal end */
.quotation-msg {
	color: #14b800;
    font-weight: 600;
    margin-top: 10px;
	a {
		color: #1f6da8;
	}
}
.feedBackMsg {
	background: #fff;
    padding: 10px 0;
    font-weight: 600;
    color: #074e84;
    font-size: 15px;
	&.error {
		color: #ae212a;
	}
	&.success{
		color: #3bab21;
	}
}
.admin-dropdown {
	.btn.btn-secondary.dropdown-toggle{
		background: #028252;
		line-height: 1;
		height: auto;
		padding: 10px 15px;
		border-color: #028252;
		font-weight: 600;
		width: 140px;
		text-align: left;
		&:after{
			margin-left: 1.255em;
		}
	}
	.dropdown-menu.show{
		min-width: auto;
		padding: 5px 0;
		margin: 0;
		width: 100%;
		font-size: 14px;
	}
}

/* Tooltip */
.df-tooltip{
	position: relative;
	.content{
		display: none;
		background: #404040;
		color: #fff;
		position: absolute;
		top: 30px;
		left: 50%;
		width: 300px;
		transform: translate(-50%, 0%);
		z-index: 2;
		padding: 10px 20px;
		&:after{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -10px;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent #404040 transparent;
		}
	}
	&:hover{
		.content{
			display: block;
		}
	}
}